*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --correct-text-color: #00C49A;
    --line-color: #bdbdbd;
    --thick-line-color: #e0e0e0;
    --accented-background-color: rgba(66, 39, 73, 0.5);
    --super-accented-background-color: rgba(77, 24, 108, 0.5);
    --background: #1d1d1d;
}

body {
    color: var(--line-color);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 54px;
    text-transform: uppercase;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background);
}

#board {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box.highlight {
    background-color: var(--accented-background-color);
    color: inherit;
    border-color: inherit;
}

.box.superHighlight {
    background-color: var(--super-accented-background-color);
}

.box {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--line-color);
    font-size: 90px;
    user-select: none;
    border-right: 3px solid;
    border-bottom: 3px solid;
}

.box:nth-child(3n) {
    border-right: 10px solid;
}

/* this is kinda goob but it works */
.box:nth-child(27n+19),
.box:nth-child(27n+20),
.box:nth-child(27n+21),
.box:nth-child(27n+22),
.box:nth-child(27n+23),
.box:nth-child(27n+24),
.box:nth-child(27n+25),
.box:nth-child(27n+26),
.box:nth-child(27n+27) {
    border-bottom: 10px solid;
}

.box:nth-child(9n) {
    border-right: none;
}

.box:nth-child(72) ~ .box {
    border-bottom: none;
}