@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --won-color: rgba(162, 231, 201, 0.52);
    --line-color: #0c222b;
    --thick-line-color: #000000;
    --wrong-color: #f6bd60;
    --wrong-outline: rgb(199, 145, 65);
    --pencil-color: #84a59d;
    --pencil-background: #516e67;
    --accented-background-color: #f5cac3;
    --super-accented-background-color: #f28482;
    --super-accented-outline-color: #ca5351;
    --background: #f7ede2;
}

body {
    color: var(--line-color);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    background-color: var(--background);
}

h1 {
    text-transform: uppercase;
}

.container {
    display: inline-block;
    padding: 40px;
    height: 100vh;
    background-color: var(--background);
    vertical-align: middle;
}

.players {
    margin: 3vh auto;
    font-size: 25px;
    height: 40vh;
    width: 100%;
    overflow: auto;
    padding: 10px;
}

.player {
    display: flex;
    text-align: left;
    flex-direction: column;
    background-color: var(--background);
    margin-bottom: 10px;
}

.color {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    border-radius: 25%;
    vertical-align: middle;
}

.name {
    margin-top: -30px;
    margin-left: 40px;
    display: inline-block;
    vertical-align: top;
}

#board {
    height: min(70vh, 70vw);
    display: grid;
    grid-template-columns: repeat(9, auto);
    margin-top: min(5vh, 5vw);
}

.box.highlight {
    background-color: var(--accented-background-color);
    color: inherit;
    border-color: var(--line-color);
    font-size: inherit;
    font-weight: inherit;
}

.box.superHighlight {
    background-color: var(--super-accented-background-color);
    font-size: inherit;
    font-weight: inherit;
    border-color: var(--super-accented-outline-color);
}

.box.wrongColor {
    background-color: var(--wrong-color);
    color: inherit;
    border-color: var(--wrong-outline);
}

.box.won {
    background-color: var(--won-color);
    color: inherit;
    border-color: var(--line-color);
    font-size: inherit;
    font-weight: inherit;
}

input[type="text"], input[type="color"], button#submit_name {
    flex: 1;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid var(--line-color);
    height: 40px;
    font-family: "Poppins", sans-serif;
}

input[type="text"] {
    width: 75%;
    padding: 10px;
    margin-right: 10px;
    background-color: var(--background);
    font-family: "Poppins", sans-serif;
}

input[type="color"] {
    width: 20%;

    /* Fix the color picker being too high */
    position: relative;
    transform: translateY(30%);
}

input[type="text"]:focus {
    outline: none;
    background-color: var(--accented-background-color);
}

button#submit_name {
    width: 100%;
    background-color: var(--background);
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    transition-duration: 0.2s;
}

button#submit_name:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: var(--accented-background-color);

}

button#submit_name:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
    background-color: var(--super-accented-background-color);
    transition-duration: 0.2s;
}

.box.pencilMark {
    border-color: var(--pencil-color);
    background-color: var(--pencil-background);
    color: white;
    font-size: inherit;
    font-weight: inherit;
}

.box {
    height: calc(min(70vh / 9, 70vw / 9));
    width: calc(min(70vh / 9, 70vw / 9));
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--line-color);
    user-select: none;
    border: 2px solid var(--line-color);
    margin: 2px;
    border-radius: calc(min(70vh / 45, 70vw / 45));
    transition-duration: 0.1s;
    transition-property: background-color, border-color, box-shadow;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 0.8;
}

.box:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.box:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
    transition-duration: 0.2s;
}

.box:nth-child(3n) {
    margin-right: 15px;
}

.box:nth-child(27n) {
    margin-bottom: 15px;
}

/* Override transition for text properties */
.box * {
    transition-duration: 0s !important;
}

.main-container {
    text-align: center;
    box-sizing: border-box;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-button {
    border: 2px solid var(--line-color);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
    transition-duration: 0.2s;

    margin: 5px;

    width: 120px;
    height: 120px;
}

.img-button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: var(--accented-background-color);
}

.img-button:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
    background-color: var(--super-accented-background-color);
}