*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --correct-text-color: #6b705c;
    --line-color: #333d29;
    --thick-line-color: #001219;
    --wrong-color: #f08080;
    --accented-background-color: #ddbea9;
    --super-accented-background-color: #cb997e;
    --background: #ffe8d6;
    --pencil-color: #b07b48;
}

body {
    background-color: var(--background);
    color: var(--line-color);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 54px;
    text-transform: uppercase;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 40px;
    height: 100vh;
    background-color: var(--background);
}

.players {
    margin: 3vh auto;
    font-size: 25px;
}

.color {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    border-radius: 25%;

    /* fix the box looking too high */
    position: relative;
    transform: translateY(25%);
}

.player {
    display: flex;
    justify-content: left;
    margin: 1vh 0;
}

#board {
    width: min(80vw, 80vh);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 3vh auto;
}

.box.highlight {
    background-color: var(--accented-background-color);
    color: inherit;
    border-color: inherit;
}

.box.superHighlight {
    background-color: var(--super-accented-background-color);
}

.box.wrongColor {
    background-color: var(--wrong-color);
    color: inherit;
    border-color: inherit;
}

.box.pencilMark {
    color: var(--pencil-color);
    border-color: var(--line-color);
}

.box {
    flex: 0 0 auto;
    height: min(calc(80vw / 9), calc(80vh / 9));
    width: min(calc(80vw / 9), calc(80vh / 9));
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--line-color);
    font-size: min(calc(80vw / 9 * 0.9), calc(80vh / 9 * 0.9));
    user-select: none;
    border-right: min(0.3vw, 0.3vh) solid;
    border-bottom: min(0.3vw, 0.3vh) solid;
}

.box:nth-child(3n) {
    border-right: min(1vw, 1vh) solid;
    border-color: var(--line-color);
}

/* this is kinda goob but it works */
.box:nth-child(27n+19),
.box:nth-child(27n+20),
.box:nth-child(27n+21),
.box:nth-child(27n+22),
.box:nth-child(27n+23),
.box:nth-child(27n+24),
.box:nth-child(27n+25),
.box:nth-child(27n+26),
.box:nth-child(27n+27) {
    border-bottom: min(1vw, 1vh) solid;
    border-color: var(--line-color);
}

/* also goob but it works */
.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3),
.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6),
.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9) {
    border-top: min(1vw, 1vh) solid;
    border-color: var(--line-color);
}

.box:nth-child(9n) {
    border-right: min(1vw, 1vh) solid;
    border-color: var(--line-color);
}

.box:nth-child(9n + 1) {
    border-left: min(1vw, 1vh) solid;
    border-color: var(--line-color);
}

.box:nth-child(72) ~ .box {
    border-bottom: min(1vw, 1vh) solid;
    border-color: var(--line-color);
}