<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Multiplayer Sudoku</title>
    <link rel="stylesheet" href="../static/game/style.css">

    <!-- Dependencies -->
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.2/dist/confetti.browser.min.js"></script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/site.webmanifest">
</head>
<body>
    <script>
        /**
         * The socket that connects to the server.
         */
        let socket = io.connect("{{ websocket_connection_url }}");
    </script>

    <script src="../static/game/helper.js"></script>
    <script src="../static/game/board_highlighting.js"></script>
    <script src="../static/game/board_controls.js"></script>
    <script src="../static/game/events.js"></script>

    <div class="main-container">
        <div class="container">
            <div id="board">
                <!-- elements are to be populated in Javascript code -->
            </div>
        </div>

        <div class="container">
            <div class="controls">
                <img class="img-button" id="toggle-pencil" src="../static/game/images/pen.png" alt="Toggle Pencil Mode">
                <img class="img-button" id="toggle-view-pencil" src="../static/game/images/pencil_vis.png" alt="Toggle View Pencil">
            </div>

            <div class="players">
                <!-- elements are to be populated in Javascript code -->
{#                <div class="player">#}
{#                    <div class="color" style="background-color: red;"></div>#}
{#                    <div class="name">Player Example</div>#}
{#                </div>#}
            </div>

            <form id="player_config">
                <div>
                    <h2 style="text-align: center;">Player Configuration</h2>
                </div>
                <div>
                    {# Here, labels are just so PyCharm stops yelling at me. An actual label here looks ugly #}
                    <label for="player_name"></label>
                    <label for="player_color"></label>

                    <input type="text" id="player_name" placeholder="Name" autocomplete="off" required>
                    <input type="color" id="player_color">
                </div>
                <div>
                    <button id="submit_name">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>