<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Multiplayer Sudoku</title>
    <link rel="stylesheet" href="../static/game/style.css">

    <!-- Dependencies -->
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.2/dist/confetti.browser.min.js"></script>

    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/site.webmanifest">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <script>
        const SERVER_IP = "{{ websocket_connection_url }}";
    </script>

    <script src="../static/game/helper.js"></script>
    <script src="../static/game/board_highlighting.js"></script>
    <script src="../static/game/board_controls.js"></script>
    <script src="../static/game/timeout_timer.js"></script>
    <script src="../static/game/init.js"></script>
    <script src="../static/game/button_events.js"></script>

    <section class="main-container">
        <section class="top-page">
            <h1>Multiplayer Sudoku</h1>
            <div>
                <h2 id="game-id-display">Game ID: <span class="not-bold" id="game-id">Connecting...</span></h2>
                <button id="copy-name-button" onclick="copyGameId()"><span class="material-symbols-outlined" id="copy-button-icon">content_copy</span></button>
            </div>

            <div id="error-msg"></div>

            <div id="time-left-display">
                <h3 style="display: inline">Timeout:</h3>
                <span id="time-left" style="display: inline">24h</span>
            </div>
        </section>

        <section class="container">
            <div id="board">
                <!-- elements are to be populated in Javascript code -->
            </div>
        </section>

        <section id="number-selection">
            <div class="number" id="num1">1</div>
            <div class="number" id="num2">2</div>
            <div class="number" id="num3">3</div>
            <div class="number" id="num4">4</div>
            <div class="number" id="num5">5</div>
            <div class="number" id="num6">6</div>
            <div class="number" id="num7">7</div>
            <div class="number" id="num8">8</div>
            <div class="number" id="num9">9</div>
            <div class="number" id="num0"><span class="material-symbols-outlined" style="transform: translateY(0)">backspace</span></div>
        </section>

        <section class="container" id="controls-players-container">
            <section class="controls">
                <img class="img-button" id="toggle-pencil" src="../static/game/images/pen.png" alt="Toggle Pencil Mode">
                <img class="img-button" id="toggle-view-pencil" src="../static/game/images/pencil_vis.png" alt="Toggle View Pencil">
            </section>

            <section id="player-section">
                <section class="players">
                    <!-- elements are to be populated in Javascript code -->
{#                    <div class="player">#}
{#                        <div class="points"><span class="material-icons-outlined">star</span>0</div>#}
{#                        <div class="color" style="background-color: red;"></div>#}
{#                        <div class="name">Player Example</div>#}
{#                    </div>#}
                </section>

                <form id="player_config">
                    <div>
                        <h2 style="text-align: center">Player Configuration</h2>
                    </div>
                    <div>
                        {# Here, labels are just so PyCharm stops yelling at me. An actual label here looks ugly #}
                        <label for="player_name"></label>
                        <label for="player_color"></label>

                        <input type="text" id="player_name" placeholder="Name" pattern=".{1,25}" title="Your name cannot be longer than 25 characters" required>
                        <input type="color" id="player_color">
                    </div>
                    <div>
                        <button id="submit_name">Submit</button>
                    </div>
                </form>
            </section>
        </section>
    </section>
</body>
</html>