@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --line-color: #0c222b;
    --accent: #648b82;
    --background: #f7ede2;
}


body {
    background-color: var(--background);
    color: var(--line-color);
    font-family: "Poppins";
    font-weight: 300;
    font-size: 140%;
}


.header, h1 {
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 3.5rem;
}

h2 {
    display: flex;
    justify-content: center;
}

h4 {
    margin-bottom: 0;
}

h6 {
    font-size: 1.5rem;
}

p {
    margin-top: 0;
}

#head_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 10vh;
    height: auto;
}


.container {
    padding: 5vh 30vw;
    justify-content: center;
}


label {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    font-size: 1.2rem;
    border: 2px solid var(--line-color);
    border-radius: 10px;
    background-color: var(--background);
}

input[type="text"]:focus {
    outline: none;
}

button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: var(--background);
    background-color: var(--line-color);
    border: 2px solid var(--line-color);
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition-duration: 0.2s;

}

button:hover {
    /* make the background slightly transparent */
    background-color: var(--accent);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

}

button:active {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5) inset;
}

@media (max-width: 1200px) {
    body {
        font-size: 240%;
    }

    .container {
        padding: 5vh 10vw;
    }

    /*input[type="text"] {*/
    /*    font-size: 2rem;*/
    /*}*/

    /*button {*/
    /*    font-size: 2rem;*/
    /*}*/
}
